.statusbar{
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0deg 5.24% 18.39%);
  padding: 0.5rem;
}

.option-bar{
  width: 3rem;
  position: relative;
  height: 100vh;
  /* height: 100vh; */
  /* position: relative; */
  background-color: rgba(235, 229, 232, 0.2);
  left: 0;
  top: 2.5rem;
}

.conversation{
  margin-top: 4rem;
  height: 80vh;
  overflow: auto;
}

.preview-bar{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left{
  display: flex;

}
.left h2{
  font-family: monospace;
  color:aqua;
  margin: 0rem 2rem;
  
}

.right{
  display: 'flex';
  justify-content: center;
  
}

.icons{
  color: #fff;
  margin: 0rem 0.3rem;
}

